@font-face {
  font-family: 'Formular-light';
  src: url('/static/fonts/360AC2_0_0.eot');
  src: url('/static/fonts/360AC2_0_0.eot?#iefix') format('embedded-opentype'),
  url('/static/fonts/360AC2_0_0.woff2') format('woff2'),
  url('/static/fonts/360AC2_0_0.woff') format('woff'),
  url('/static/fonts/360AC2_0_0.ttf') format('truetype');
}


@font-face {
  font-family: 'Formular-bold';
  src: url('/static/fonts/360AC2_1_0.eot');
  src: url('/static/fonts/360AC2_1_0.eot?#iefix') format('embedded-opentype'),
  url('/static/fonts/360AC2_1_0.woff2') format('woff2'),
  url('/static/fonts/360AC2_1_0.woff') format('woff'),
  url('/static/fonts/360AC2_1_0.ttf') format('truetype');
}
